<div class="filter-container">

    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="form-group">

            <label for="type">Type:</label>
            <div>
                <input id="allType" type="radio" value="allType" name="type" formControlName="type"
                    (change)="changeType($event)">
                <label for="allType">All</label>
            </div>
            <div>
                <input id="car" type="radio" value="car" name="type" formControlName="type"
                    (change)="changeType($event)">
                <label for="car">Car</label>
            </div>
            <div>
                <input id="truck" type="radio" value="truck" name="type" formControlName="type"
                    (change)="changeType($event)">
                <label for="truck">Truck</label>
            </div>

            <label for="status">Status:</label>
            <div>
                <input id="allStatus" type="radio" value="allStatus" name="status" formControlName="status"
                    (change)="changeStatus($event)">
                <label for="allStatus">All</label>
            </div>
            <div>
                <input id="available" type="radio" value="available" name="status" formControlName="status"
                    (change)="changeStatus($event)">
                <label for="available">Available</label>
            </div>
            <div>
                <input id="unavailable" type="radio" value="unavailable" name="status" formControlName="status"
                    (change)="changeStatus($event)">
                <label for="unavailable">Unavailable</label>
            </div>

            <label for="">Battery Level:</label>
            <div>
                <input id="allBatteryLevel" type="radio" value="allBatteryLevel" name="battery"
                    formControlName="battery" (change)="changeBattery($event)">
                <label for="allBatteryLevel">All</label>
            </div>
            <div>
                <input id="lowBatteryLevel" type="radio" value="lowBatteryLevel" name="battery"
                    formControlName="battery" (change)="changeBattery($event)">
                <label for="lowBatteryLevel">Battery below 30%</label>
            </div>
            <div>
                <input id="mediumBatteryLevel" type="radio" value="mediumBatteryLevel" name="battery"
                    formControlName="battery" (change)="changeBattery($event)">
                <label for="mediumBatteryLevel">Battery between 30% and 70%</label>
            </div>
            <div>
                <input id="highBatteryLevel" type="radio" value="highBatteryLevel" name="battery"
                    formControlName="battery" (change)="changeBattery($event)">
                <label for="highBatteryLevel">Battery above 70%</label>
            </div>
        </div>

        <button mat-raised-button color="accent" type="submit">Show</button>

    </form>
</div>